/* Main */
.container {
    padding: 15px;
}

.content {
    padding: 25px 15px 25px 15px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: teal;
}

.App-logo {
    margin: 25px 0 25px 0;
}