body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #eb684d;
}

h3 {
  color: #edc951;
}

table {
  width: 100%;    
}

th {
  background-color: #ef7d50;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

textarea {
  height: 100px;
}
